

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!--<script src="/javascripts/jquery.min.js"></script>-->
    <script src="/javascripts/angular.min.js"></script>
</head>

<body ng-app="puppyApp">


    <puppies></puppies>



    <script src="/javascripts/angular/app.js"></script>
    <script src="/javascripts/angular/controllers/main.js"></script>
    <script src="/javascripts/angular/directives/puppy.js"></script>



</body>
</html>