<!DOCTYPE html>

<html ng-app="CatsApp">

<head>
  <title><%= title %></title>
  <!--<script src="/javascripts/jquery.min.js"></script>-->
  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<section ng-controller="CatsCtrl">
  {{message}}
  <form ng-submit="addCat(name, note)">
    <input type="text" ng-model="name">
    <input type="text" ng-model="note">
    <input type="Submit" value="Add Cat!">
  </form>
  <hr>
  <h3>Cats for Adoption</h3>
  <ul>
    <li ng-repeat="cat in cats">
      {{cat.name}} - <em>{{cat.note}}</em>
      <!--<input type='hidden' value="{{cat.id}}" ng-model="id">-->
      <button data-id="{{cat.id}}"
              ng-click="adoptCat(this)">Adopt Me!</button>
    </li>
  </ul>
</section>

<section ng-controller="DogsCtrl">
  <form ng-submit="addDog(name, note)">
    <input type="text" ng-model="name">
    <input type="text" ng-model="note">
    <input type="Submit" value="Add Dog!">
  </form>
  <hr>
  <h3>Dogs for Adoption</h3>
  <ul>
    <li ng-repeat="dog in dogs">
      {{dog.name}} - <em>{{dog.note}}</em>
      <!--<input type='hidden' value="{{cat.id}}" ng-model="id">-->
      <button data-id="{{dog.id}}"
              ng-click="adoptDog(this)">Adopt Me!</button>
    </li>
  </ul>
</section>

<!--<section ng-controller="PlaygroundCtrl">-->
  <!--The best movie of all time is {{movie.Title}}!-->
  <!--<button ng-click="changeMovie()"></button>-->
<!--</section>-->
</body>
</html>